<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Editar Filme</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    </head>
    <body class="bg-dark">
        <div class="row">
            <div class="col-12">
                <div class="modal" id="filmeModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Deseja mesmo deletar o filme <span th:text="${filme.titulo}" class="fw-bold "></span>?</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary me-4" data-bs-dismiss="modal">VOLTAR</button>
                                <a th:href="@{'/filme/edit/deletar/'+${filmeId}}" class="btn btn-danger" type="button">DELETAR</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row d-flex justify-content-center mt-5">
                <div class="col-4">
                    <span class="fs-2 fw-bold text-primary">Editar Filme</span>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-4 border rounded p-3">
                    <form th:action="@{'/filme/edit/'+${filmeId}}" th:object="${filme}" id="formFilme" method="POST">
                        <div class="row">
                            <div class="mb-3">
                                <label for="titulo" class="form-label fs-5 text-light">Título:</label>
                                <input type="text" class="form-control" id="titulo" th:field="*{titulo}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3">
                                <label for="sinopse" class="form-label fs-5 text-light">Sinopse:</label>
                                <input type="text" class="form-control" id="sinopse" th:field="*{sinopse}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3">
                                <label for="genero" class="form-label fs-5 text-light">Gênero:</label>
                                <input type="text" class="form-control" id="genero" th:field="*{genero}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-5">
                                <label for="anoLancamento" class="form-label fs-5 text-light">Ano de Lançamento:</label>
                                <input type="number" class="form-control" id="anoLancamento" th:field="*{ano_lancamento}">
                                <input type="hidden" th:field="*{id}" th:value="${filmeId}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <button type="submit" class="btn btn-primary btn-sm fs-6 w-75">SALVAR</button>
                            </div>
                            <div class="col-6 text-end">
                                <button class="btn btn-danger btn-sm fs-6 w-75" data-bs-toggle="modal" data-bs-target="#filmeModal" type="button">DELETAR</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script th:src="@{/js/script.js}"></script>
    </body>
</html>
